* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-radius: 2px;
	font-family: sans-serif;
}

body {
	background: #FAF9F5;
}

a {
	text-decoration: none;
	color: #3CB1CB;
}

a:hover {
	text-decoration:underline ;
	}

li {
	list-style-type: none;
}

input {
	height: 34px;
	width: 400px;
	color: lightgrey;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

button {
	background: #34A8C4;
	border: #34A8C4 solid 1px;
	color: white;
}

button:hover {
	background: #0CCCF3;
}

.searchButton {
	padding: 7px 15px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.header {
	border-bottom: 1px solid lightgrey;
	height: 80px;
	background: white;
}

#headerTop {
	padding-left: 20px;
	padding-top: 20px;
	display: inline;
}

.underHeader {
	height: 50px;
	border-bottom: 1px solid lightgrey;
	margin-bottom: 30px;
	background: white;
	margin-top: 0;
	padding-top: 15px;
}

.underHeader a:hover {
	color:black;
	text-decoration: none;
}

.mainEtsy {
	float: left;
	font-size: 37px;
	margin: 15px 15px 15px 25px;
	color: #F56400;
	font-family: serif;
}

.rightItems {
	font-size: 14px;
}

.cartItems {
	float: right;
	position: absolute;
	top: -2px;
	left: 1160px;
	border-left: lightgrey solid 1px;
	padding-left: 15px;
	opacity: 0.6;
	font-size: 14px;
}

.cartItems:hover {
	opacity: 4;
}

.search {
	float: left;
	margin-right: 260px;
	margin-top: 25px;
}

.bar {
	border: 1px lightgrey solid;
}

.rightItems {
	margin-top: 20px;
	display: inline-block;
	margin-right: 30px;

	li {
		display: inline-block;
		margin-right: 15px;
	}
}

.signIn {
	border: #3CB1CB 1px solid;
	padding: 7px;
}

.signIn:hover {
	background:#0CCCF3;
}

.underHeader {
	height: 50px;
	border-bottom: 1px solid lightgrey;
	margin-bottom: 30px;
	background: white;
	margin-top: 0;

	li {
		list-style-type: none;
		display: inline-block;
		margin-right: 14px;
	}
}

.underHeader a {
	color: grey;
}

.showResults {
	font-size: 14px;
	margin-right: 167px;
	margin-left: 50px;
}

.smallCats {
	font-size: 12px;
	padding-right: 550px;
}

.sortBy {
	font-size: 12px;
	float: right;
	margin-right: 15px;
}

.allCats {
	border: solid 1px lightgrey;
	border-radius: 2px;
	width: 250px;
	padding-left: 7px;
	padding-bottom: 15px;
	margin-left: 50px;
	font-size: 13px;
	padding-top: 10px;
	position: relative;
	background: white;
	float: left;

		li {
			margin-left: 20px;
			font-size: 13px;
	}

		p {
			margin-top: 0;
	}
}

.refineSearch {
	margin-top: 35px;
	margin-left: 50px;
}

.contentContainer {
	height: 1000px;
	width: 950px;
	float: left;
	margin-top: 12px;
	margin-left: 15px;
}

.content {
	float: left;
	margin: 0 10px 10px;
	border-left: solid 1px lightgrey;
	border-right: solid 1px lightgrey;
	border-top: solid 1px lightgrey;
	border-bottom: 1px solid #CCCDCA;
	height: 225px;
	width: 216px;
	position: relative;
	overflow: hidden;
	margin-bottom: 20px;
	background: white;
}

.title {
	font-size: 12px;
	margin: 3px;
	text-overflow: ellipsis;
	overflow: hidden;
}

p.title {
	height: 13px;
	width: 215px;
	margin-left: 2px;
	display: inline-block;
	overflow: hidden;
}

.creator {
	font-size: 12px;
	float: left;
	padding-left: 3px;
	color: grey;
	margin-top: 0px;
}

.price {
	font-size: 12px;
	float: right;
	color: #78C054;
	padding-right: 3px;
	margin-top: 0px;
}

.related {
	float: left;
	margin-left: 30px;
	margin-top: 53px;
	float: left;
	font-size: 13px;

		li {
			margin-top: 10px;
	}
}

.related1 {
	margin-left: 288px;
	margin-top: 20px;
	float: left;
	font-size: 13px;

	li {
		margin-top: 10px;
	}
	.number1 {
		margin-bottom: 20px;
	}
}

.related3 {
	float: left;
	margin-left: 30px;
	margin-top: 53px;
	float: left;
	font-size: 13px;
	margin-right: 0;
	padding-right: 370px;
	padding-bottom: 50px;
		li {
			margin-top: 10px;
	}
}

.numberBar {
	float: left;
	margin-left: 325px;
	margin-top: 15px;
	padding-right: 570px;
	margin-bottom: 45px;
		div {
			display: inline;
			font-size: 15px;
			border:1px lightgrey solid;
			padding:12px;
			background:white;
			font-weight:bold;
			margin-left: 0px;
			padding-top: 8px;
			padding-bottom: 8px;
}
}

.message {
	margin-left: 500px;
	font-size: 15px;
}

.enterEmail{
	margin-top: 35px;
	padding-left: 540px;
	padding-bottom: 50px;
	border-bottom: solid lightgrey 1px;
		input{
			width: 275px;
			font-size: 13px;
			height: 35px;
	}
}

.footer{
	margin-top: 0px;
}

.footerList1 {
	float:left;
	padding-top: 15px;
	padding-left: 150px;

		li{
			margin-bottom: 15px;
			font-size: 13px;
			margin-left: 0px;
			margin-right: 15px;
		}

		a{
			color:black;
		}

}

.footerList{
	margin-right: 15px;
	float:left;
	padding-top: 15px;
	padding-bottom: 70px;

	li{
		margin-bottom: 15px;
		font-size: 13px;
		margin-left: 0px;
	}

	a{
		color:black;
	}

}

.footerList3{
	margin-right: 15px;
	float:left;
	padding-top: 15px;
	padding-bottom: 180px;

	li{
		margin-bottom: 15px;
		font-size: 13px;
		margin-left: 0px;
	}

	a{
		color:black;
	}

}

#openShop{
	padding: 7px;
	background:#3CB1CB;
	width: 115px;
	font-size: 12px;
	padding-left: 25px;
	margin-bottom: 30px;

	a{
		color:white;
	}
}

#title{
	width: 175px;
	font-size: 14px;
	margin-left: 0px;
	font-weight: bold;
}

#bottomFooterLeft{
	border: 1px solid lightgrey;
	height: 20px;
	padding:5px;
	margin-left: 25px;
	font-size: 14px;
	color:black;

}

.line{
	color:lightgrey;
}

#bottomFooterRight{
	float: right;
	margin-right: 30px;
	color:black;
	li{
		display: inline-block;
		margin-right: 20px;
		font-size: 12px;
	}
}

.seal{
	color: grey;
	margin-right: 30px;
}

.help{
	border: 1px lightgrey solid;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left:35px;
	padding-right: 35px;
	background: white;
}

.help:hover{
	background: lightgrey;

}
